<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?serverTimezone=Europe/Brussels</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.dbcp.initialSize">8</property>
  		<property name="hibernate.dbcp.maxActive">20</property>
  		<property name="hibernate.dbcp.maxIdle">20</property>
  		<property name="hibernate.dbcp.minIdle">0</property>

    	<mapping resource="todo.hbm.xml"/>

    </session-factory>

</hibernate-configuration>